body {
    font-family: "Montserrat", sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}
.movie-poster   {
    width: 100%;
    height: 700px;
    object-fit: cover;
    display: block;
}
 

.movie-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


